[submodule "content/post"]
	path = content/post
	url = https://github.com/yyonkim/study-logs.git
[submodule "public"]
	path = public
	url = https://github.com/yyonkim/yyonkim.github.io.git
	branch = main
